body {
  margin: .5em;
}

button {
  border-radius: 50px 10px 50px 10px;
  border: 3px inset lightgray;
  width: 25em;
  margin-bottom: 3px;
}

.cat-container {
  display: flex;
  justify-content: space-between;
}